
/* 共通 */
html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
}

.more {
    text-align: center;
    margin-top: 32px;
}

.more-button {
    padding: 16px 64px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

.more-button::after {
    content: '>';
    position: absolute;
    right: 16px;
}

.more-button:hover {
    background: black;
    color: white;
    transition: .4s;
}

h3 {
    font-size: 28px;
    font-weight: normal;
}



/* ヘッダー */
header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    animation: img_anime 24s ease infinite;
    color: white;
    padding: 48px 32px;
}

@keyframes img_anime {
    0% {
        background-image: url(../img/paspol1.jpeg);
    }
    15% {
        background-image: url(../img/paspol1.jpeg);
    }
    20% {
        background-image: url(../img/paspol2.jpeg);
    }
    35% {
        background-image: url(../img/paspol2.jpeg);
    }
    40% {
        background-image: url(../img/paspol3.jpeg);
    }
    55% {
        background-image: url(../img/paspol3.jpeg);
    }
    60% {
        background-image: url(../img/paspol4.jpeg);
    }
    75% {
        background-image: url(../img/paspol4.jpeg);
    }
    85% {
        background-image: url(../img/paspol5.jpeg);
    }
    95% {
        background-image: url(../img/paspol5.jpeg);
    }
    100% {
        background-image: url(../img/paspol1.jpeg);
    }
}

.sp-logo {
    display: none;
}

.pc-menu section {
    user-select: none;
}

.pc-menu {
    display: flex;
    justify-content: space-between;
}

.sp-menu {
    display: none;
}

h1 {
    font-size: 28px;
    letter-spacing: 5px;
}

header p {
    font-size: 8px;
    letter-spacing: 3px;
}


header ul {
    display: flex;
    gap: 32px;
    align-items: end;
}

header li {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

header li:hover {
    border-bottom: 2px solid white;
    transition-duration: .2s;
}

/* 旅に出よう。 */

.hero {
    margin: 0 auto;
    padding: 80px 0;
    background: #f7f7f7;
}

.hero .container {
    width: 400px;
}

h2 {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}

.hero li {
    margin-top: 24px;
    font-size: 20px;
}

.hero li:nth-child(1) {
    margin-top: 48px;
}

.hero li:nth-child(4) {
    text-align: center;
    position: relative;
}
.hero li:nth-child(4)::after {
    content: '」';
    position: absolute;
    right: 64px;
    font-size: 32px;
}
.hero li:nth-child(4)::before {
    content: '「';
    position: absolute;
    left: 64px;
    font-size: 32px;
}


ruby {
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 32px;
}

rt {
    font-weight: normal;
    font-size: 12px;
    position: relative;
    top: -.5em;
    transform: translateY(-.5em);
}

/* PRODUCT */

.product {
    padding: 80px 0;
}

.article {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 48px;
}



.article article {
    width: calc((100% - 64px) / 3);
}

.article article:hover {
    opacity: .5;
    cursor: pointer;
}

article img {
    width: 100%;
}

/* NEWS */

.news {
    background: #f7f7f7;
    position: relative;
    padding: 80px 0;
}

.content {
    display: flex;
    gap: 16px;
    margin-top: 48px;
}

.content:hover {
    opacity: .6;
    cursor: pointer;
}

.content div:nth-child(1) {
    width: 40%;
}
.content div:nth-child(2) {
    width: 60%;
}

.content p {
    font-size: 10px;
    color: #666;
}

.content p:nth-child(2) {
    margin-top: 8px;
}

.go-top {
    display: block;
    font-size: 35px;
    color: #bbb;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: .3s;
}

.go-top:hover {
    transform: translate(-50%, -4px);
    transition-duration: .3s;
}

/* SNS  */
.sns {
    padding: 48px 0;
}

.sns ul {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.sns a {
    width: 170px;
    height: 50px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
}

.facebook {
    color: rgb(37, 37, 116);
    border: 1px solid rgb(37, 37, 116);
    transition-duration: .2s;
    display: inline-block;
}
.facebook:hover {
    color: white;
    background: rgb(37, 37, 116);
    border: 1px solid rgb(37, 37, 116);
    transition-duration: .2s;
}
.twitter{
    color: rgb(43, 130, 146);
    border: 1px solid rgb(43, 130, 146);
    transition-duration: .2s;
    display: inline-block;
}
.twitter:hover {
    color: white;
    background: rgb(43, 130, 146);
    border: 1px solid rgb(43, 130, 146);
    transition-duration: .2s;
}
.hatena {
    color: rgb(54, 161, 115);
    border: 1px solid rgb(54, 161, 115);
    transition-duration: .2s;
    display: inline-block;
}
.hatena:hover {
    color: white;
    background: rgb(54, 161, 115);
    border: 1px solid rgb(54, 161, 115);
    transition-duration: .2s;
}
.line {
    display: none;
}

.sns li:hover {
    opacity: .5;
}

/* フッターメニュ */
.footer-menu {
    background: #a3a3a3;
    padding: 32px 0;
}

.footer-menu ul {
    display: flex;
    gap: 32px;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.footer-menu a:hover {
    opacity: .5;
}

.foot {
    background: #666;
    padding: 32px 0;
}

.foot .container {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    align-items: center;
}

.logo:hover {
    opacity: .5;
    cursor: pointer;
}

@media(max-width:900px) {
    header {
        position: relative;
    }

    .sp-logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
    }

    .sp-logo p {
        color: white;
    }

    .pc-menu {
        display: none;
    }

    .sp-menu {
        display: block;
        background: white;
        padding: 0 48px;
    }

    header {
        padding: 0;
    }

    .sp-menu p {
        color: black;
        float: left;
        line-height: 40px;
        font-size: 10px;
    }
}

@media(max-width:780px) {
    .article {
        display: block;
    }

    .article article {
        display: flex;
        width: 100%;
    }

    .article img {
        width: 40%;
    }

    .article h4 {
        width: 60%;
        margin-left: 3%;
        padding-top: 16px;
    }
}

@media(max-width:700px) {
    .hero .container {
        text-align: left;
        width: 80%;
        margin-left: 48px;
    }

    .hero h2 {
        text-align: left;
    }

    .hero li:nth-child(4) {
        text-align: left;
        position: relative;
        margin-left: 16px;
    }
    .hero li:nth-child(4)::after {
        content: '」';
        position: absolute;
        left: 190px;
        font-size: 32px;
    }
    .hero li:nth-child(4)::before {
        content: '「';
        position: absolute;
        left: -38px;
        font-size: 32px;
    }

    .foot .container {
        display: block;
        text-align: center;
    }

    .foot small {
        margin-top: 32px;
        display: inline-block;
    }
}

@media(max-width:600px) {
    .sns ul {
        flex-wrap: wrap;
        gap: 10px;
    }

    .sns a {
        width: 40vw;
    }

    .line {
        color: rgb(46, 181, 55);
        border: 1px solid rgb(46, 181, 55);
        transition-duration: .2s;
        display: inline-block;
    }
    .line:hover {
        color: white;
        background: rgb(46, 181, 55);
        border: 1px solid rgb(46, 181, 55);
        transition-duration: .2s;
    }

    .footer-menu {
        padding: 0;
    }

    .footer-menu ul {
        display: block;
        text-align: center;
    }

    .footer-menu li {
        border-bottom: 1px solid white;
    }

    .footer-menu a {
        display: inline-block;
        width: 100%;
        padding: 16px 0;
    }

    .footer-menu li:nth-child(5) {
        border-bottom: none;
    }


}

@media(max-width:500px) {

    .product h3,
    .news h3 {
        text-align: center;
    }

    .article article {
        display: block;
    }

    .article img {
        width: 100%;
    }

    .article h4 {
        width: 83%;
        margin-left: 5%;
        padding-top: 0;
        margin-bottom: 48px;
    }

    .content {
        display: block;
    }

    .content div:nth-child(1) {
        width: 100%;
    }
    .content div:nth-child(2) {
        width: 100%;
    }
    .content p:nth-child(3) {
        display: none;
    }
    .content h4 {
        line-height: 28px;
        margin-top: 8px;
    }
    



}